<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout.html}">
    <head th:replace="layout.html :: head">
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
    </head>
	<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="return" data-dismiss="modal" aria-label="return"><span aria-hidden="true"><<</span></button>
        
      </div>

      <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="return" data-dismiss="modal" aria-label="return"><span aria-hidden="true"><<</span></button>
        
      </div>

      <div class="modal-body">
        <form class="form-horizontal">

          <br> 
  <center><div class="form-group"><fieldset>
    <label for="inputEmail3" class="col-sm-2 control-label">HISTORIA ENFERMEDAD</label><br><br>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui"><br><br></fieldset>
    </div>
  </div></center><br>

  <fieldset>
  <center><div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">ANAMNESIS</label><br><br>
  </div></center>

  <CENTER><div class="form-group">
    <label for="inputPreNatal" class="col-sm-2 control-label">PRENATAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; NATAL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; POSNATAL</label>
    <br><br>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
    </div><br><br>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">PRIMERA INFANCIA</label>&nbsp;&nbsp;&nbsp;
      <label for="inputEmail3" class="col-sm-2 control-label">SEGUNDA INFANCIA</label>&nbsp;&nbsp;&nbsp;
      <label for="inputEmail3" class="col-sm-2 control-label">TERCERA INFANCIA</label><br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      </div><br>
  </div></CENTER></fieldset>

<br><br>
  <fieldset>
  <CENTER><div class="form-group">
  
    <label for="inputPreNatal" class="col-sm-2 control-label">HISTORIA LABORAL</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="inputEmail3" class="col-sm-2 control-label">HISTORIA SOCIAL</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br><br>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
    </div><br><br>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">GRUPO FAMILIAR DE ORIGEN</label>&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="inputEmail3" class="col-sm-2 control-label">GRUPO FAMILIAR PROPIO</label><br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      </div><br>
  </div></CENTER></fieldset>
  <br><br>

  <fieldset>

  <center><div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">FUNCIONES PSÍQUICAS</label><br><br>
  </div></center>

  <CENTER><div class="form-group">
    <label for="inputPreNatal" class="col-sm-2 control-label">ORIENTACIÓN</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="inputEmail3" class="col-sm-2 control-label">ATENCIÓN</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="inputEmail3" class="col-sm-2 control-label">CONSCIENCIA</label><br><br>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
    </div><br><br>

    <div class="form-group">
      <label for="inputEmail3" class="col-sm-2 control-label">SENSOPERCEPCIÓN</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="inputEmail3" class="col-sm-2 control-label">MEMORIA</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="inputEmail3" class="col-sm-2 control-label">PENSAMIENTO</label><br><br>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
        <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      </div><br>
  </div></CENTER>
</fieldset><br><br>

<fieldset>
  <center><div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">DIAGNÓSTICO</label><br><br>
  </div></center>

  <CENTER><div class="form-group">
    <label for="inputPreNatal" class="col-sm-2 control-label">PRESUNTIVO</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="inputEmail3" class="col-sm-2 control-label">DEFINITIVO</label><br><br>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
      <input type="text" class="form-control" id="inputHistoriaEnfermedad" placeholder="Escriba aqui">
    </div><br><br>
  </div></CENTER>

  <center><div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">PLAN</label>
    <select name="plan" id="plan">
      <option value="r">Plan 1</option>
      <option value="r">Plan 2</option>
    </select><br><br>
  </div></center>

  <center><div class="form-group">
    <label for="inputEmail3" class="col-sm-2 control-label">REFERENCIA</label>
    <select name="plan" id="plan">
      <option value="r">Referencia 1</option>
      <option value="r">Referencia 2</option>
    </select><br><br>
  </div></center></fieldset><br><br>

  
  <center>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Aceptar Cambios</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Regresar</button>
        
      </div></center><br>
      